<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="youngjee.com.examapp01" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArrayListActivity"
            android:label="@string/title_activity_array_list" >
        </activity>
        <activity
            android:name=".UserAdapterActivity"
            android:label="@string/title_activity_user_adapter" >
        </activity>
        <activity
            android:name=".ArrayList2Activity"
            android:label="@string/title_activity_array_list2" >
        </activity>
        <activity
            android:name=".AssertImageReadActivity"
            android:label="@string/title_activity_assert_image_read" >
        </activity>
        <activity
            android:name=".MemoryCheckActivity"
            android:label="@string/title_activity_memory_check" >
        </activity>
        <activity
            android:name=".ActionBarSampleActivity"
            android:label="@string/title_activity_action_bar"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".DataSenderActivity"
            android:label="@string/title_activity_data_sender" >
        </activity>
        <activity
            android:name=".DataReceiverActivity"
            android:label="@string/title_activity_data_receiver" >
        </activity>
    </application>

</manifest>
