<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="youngjee.com.examapp01" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArrayListActivity"
            android:label="@string/title_activity_array_list" >
        </activity>
        <activity
            android:name=".UserAdapterActivity"
            android:label="@string/title_activity_user_adapter" >
        </activity>
        <activity
            android:name=".ArrayList2Activity"
            android:label="@string/title_activity_array_list2" >
        </activity>
        <activity
            android:name=".AssertImageReadActivity"
            android:label="@string/title_activity_assert_image_read" >
        </activity>
        <activity
            android:name=".MemoryCheckActivity"
            android:label="@string/title_activity_memory_check" >
        </activity>
        <activity
            android:name=".ActionBarSampleActivity"
            android:label="@string/title_activity_action_bar"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".DataSenderActivity"
            android:label="@string/title_activity_data_sender" >
        </activity>
        <activity
            android:name=".DataReceiverActivity"
            android:label="@string/title_activity_data_receiver" >
            <intent-filter>
                <action android:name="young.jee.Implicit.Intent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TakePictureActivity"
            android:label="@string/title_activity_take_picture" >
        </activity>
        <activity
            android:name=".TouchEventExamActivity"
            android:label="@string/title_activity_touch_event_exam" >
        </activity>
        <activity
            android:name=".TapHostActivity"
            android:label="@string/title_activity_tap_host"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".MakeDialogActivity"
            android:label="@string/title_activity_make_dialog" >
        </activity>
        <activity
            android:name=".MakeProgressActivity"
            android:label="@string/title_activity_make_progress" >
        </activity>
        <activity
            android:name=".WakeLockActivity"
            android:label="@string/title_activity_wake_lock" >
        </activity>
        <activity
            android:name=".DynaMicScrollActivity"
            android:label="@string/title_activity_dyna_mic_scroll" >
        </activity>
        <activity
            android:name=".UILayoutActivity"
            android:label="@string/title_activity_uilayout"
            android:parentActivityName=".MainActivity" >

            <!-- parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SharedPreferencesActivity"
            android:label="@string/title_activity_shared_preferences" >
        </activity>
        <activity
            android:name=".FileWriteActivity"
            android:label="@string/title_activity_file_write" >
        </activity>
        <activity
            android:name=".SqlHandleActivity"
            android:label="@string/title_activity_sql_handle" >
        </activity>
        <activity
            android:name=".ImplicitActivity"
            android:label="@string/title_activity_implicit" >
        </activity>
        <activity
            android:name=".DialogCallBackActivity"
            android:label="@string/title_activity_dialog_call_back" >
        </activity>
        <activity
            android:name=".TestNotificationActivity"
            android:label="@string/title_activity_test_notification" >
        </activity>
        <activity
            android:name=".AutoCompleteTextActivity"
            android:label="@string/title_activity_auto_complete_text" >
        </activity>
        <activity
            android:name=".ViewPagerMainActivity"
            android:label="@string/title_activity_view_pager_main" >
        </activity>
        <activity
            android:name=".TextWatcherActivity"
            android:label="@string/title_activity_text_watcher" >
        </activity>
        <activity
            android:name=".ArraySpinnerActivity"
            android:label="@string/title_activity_array_spinner" >
        </activity>
        <activity
            android:name=".CustomListViewActivity"
            android:label="@string/title_activity_custom_list_view" >
        </activity>
        <activity
            android:name=".ArrayAdapterActivity"
            android:label="@string/title_activity_array_adapter" >
        </activity>
        <activity
            android:name=".ExpandableListViewActivity"
            android:label="@string/title_activity_expandable_list_view" >
        </activity>
        <activity
            android:name=".ListViewOnItemClickListenerActivity"
            android:label="@string/title_activity_list_view_on_item_click_listener" >
        </activity>
        <activity
            android:name=".ListViewHeaderFooterActivity"
            android:label="@string/title_activity_list_view_header_footer" >
        </activity>
        <activity
            android:name=".DateTimerPickerActivity"
            android:label="@string/title_activity_date_timer_picker" >
        </activity>
        <activity
            android:name=".MakeFlipperActivity"
            android:label="@string/title_activity_make_flipper" >
        </activity>
        <activity
            android:name=".ThreadDemoActivity"
            android:label="@string/title_activity_thread_demo" >
        </activity>
        <activity
            android:name=".AsyncTaskDemoActivity"
            android:label="@string/title_activity_async_task_demo" >
        </activity>
        <activity
            android:name=".PopupActivity"
            android:label="@string/title_activity_popup"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".PopupWindowActivity"
            android:label="@string/title_activity_popup_window" >
        </activity>
        <activity
            android:name=".IntentExamActivity"
            android:label="@string/title_activity_intent_exam" >
        </activity>
        <activity
            android:name=".RotateExamActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_rotate_exam" >

            <!-- android:theme="@android:style/Theme.Translucent" -->

        </activity>
        <activity
            android:name=".TestConfigureActivity"
            android:label="@string/title_activity_test_configure" >
        </activity>
        <activity
            android:name=".ServiceDemoActivity"
            android:label="@string/title_activity_service_demo" >
        </activity>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".BroadcastReceiverActivity"
            android:label="@string/title_activity_go_broad_cast_receiver" >
        </activity>

        <receiver
            android:name=".receiver.TestReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="youngjee.recevier.sender" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AlarmManagerActivity"
            android:label="@string/title_activity_alarm_manager" >
        </activity>
        <activity
            android:name=".CallAlarmResultActivity"
            android:label="@string/title_activity_call_alarm_result" >
            <intent-filter>
                <action android:name="youngjee.alarmmanager" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThreadDemo2Activity"
            android:label="@string/title_activity_thread_demo2" >
        </activity>
        <activity
            android:name=".UseHandlerActivity"
            android:label="@string/title_activity_use_handler" >
        </activity>
        <activity
            android:name=".FileManagerActivity"
            android:label="@string/title_activity_file_manager" >
        </activity>
        <activity
            android:name=".ClickNLongClickActivity"
            android:label="@string/title_activity_click_nlong_click" >
        </activity>
        <activity
            android:name=".ImageSendSMSActivity"
            android:label="@string/title_activity_image_send_sms" >
        </activity>
        <activity
            android:name=".DeviceInfoGPSActivity"
            android:label="@string/title_activity_device_info_gps" >
        </activity>
        <activity
            android:name=".CheckInstallAppActivity"
            android:label="@string/title_activity_check_install_app" >
        </activity>
        <activity
            android:name=".UrlConnTestActivity"
            android:label="@string/title_activity_url_conn_test" >
        </activity>
        <activity
            android:name=".GoogleTransActivity"
            android:label="@string/title_activity_google_trans" >
        </activity>
        <activity
            android:name=".DownloaderDemoActivity"
            android:label="@string/title_activity_downloader_demo" >
        </activity>
        <activity
            android:name=".MP3PlayerDemoActivity"
            android:label="@string/title_activity_mp3_player_demo" >
        </activity>
        <activity
            android:name=".MP3Player2DemoActivity"
            android:label="@string/title_activity_mp3_player2_demo" >
        </activity>
        <activity
            android:name=".FragmentDemoActivity"
            android:label="@string/title_activity_fragment_demo" >
        </activity>
        <activity
            android:name=".NewNotificationActivity"
            android:label="@string/title_activity_new_notification" >
        </activity>
        <activity
            android:name=".DrawerLayoutActivity"
            android:label="@string/title_activity_drawer_layout" >
        </activity>
        <activity
            android:name=".DrawerNFragmentActivity"
            android:label="@string/title_activity_drawer_nfragment" >
        </activity>
        <activity
            android:name=".EffectSoundActivity"
            android:label="@string/title_activity_effect_sound" >
        </activity>
        <activity
            android:name=".StreamingPlayerActivity"
            android:label="@string/title_activity_streaming_player" >
        </activity>
        <activity
            android:name=".GetUUIDActivity"
            android:label="@string/title_activity_get_uuid" >
        </activity>
        <activity
            android:name=".TelNoSearchActivity"
            android:label="@string/title_activity_tel_no_search" >
        </activity>
        <activity
            android:name=".MusicSearchActivity"
            android:label="@string/title_activity_music_player" >
        </activity>
        <activity
            android:name=".WebViewFinishedActivity"
            android:label="@string/title_activity_web_view_finished" >
        </activity>
        <activity
            android:name=".DataBaseHandleActivity"
            android:label="@string/title_activity_data_base_handle" >
        </activity>
        <activity android:name=".ResultList" >
        </activity>
        <activity
            android:name=".DownLoadManagerActivity"
            android:label="@string/title_activity_down_load_manager" >
        </activity>
        <activity
            android:name=".AlarmManager2Activity"
            android:label="@string/title_activity_alarm_manager2" >
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".PasswordManagerActivity"
            android:label="@string/title_activity_password_manager" >
        </activity>
        <activity
            android:name=".Password"
            android:label="@string/title_activity_password" >
        </activity>
        <activity
            android:name=".ListViewIndexActivity"
            android:label="@string/title_activity_list_view_index" >
        </activity>
        <activity
            android:name=".ImageCacheActivity"
            android:label="@string/title_activity_image_cache" >
        </activity>
        <activity
            android:name=".DataBaseHandle2Activity"
            android:label="@string/title_activity_data_base_handle2" >
        </activity>
        <activity
            android:name=".AdapterFilterActivity"
            android:label="@string/title_activity_adapter_filter" >
        </activity>
        <activity
            android:name=".ActivitySendObjectActivity"
            android:label="@string/title_activity_activity_send_object" >
        </activity>
        <activity
            android:name=".ActivityReceiveObjectActivity"
            android:label="@string/title_activity_activity_receive_object" >
        </activity>
        <activity
            android:name=".PhotoViewerActivity"
            android:label="@string/title_activity_photo_viewer" >
        </activity>
        <activity
            android:name=".RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view" >
        </activity>
        <activity
            android:name=".AuilSampleMainActivity"
            android:label="@string/title_activity_auil_sample_main" >
        </activity>
        <activity
            android:name=".AuilSampleActivity"
            android:label="@string/title_activity_auid_sample_main" >
        </activity>
        <activity
            android:name=".fragment.ComplexImageActivity"
            android:label="@string/title_activity_complex_image" >
        </activity>
        <activity
            android:name=".VolleySampleMainActivity"
            android:label="@string/title_activity_volley_sample_main" >
        </activity>
        <activity
            android:name=".SlideUpPanelActivity"
            android:label="@string/title_activity_slide_up_panel"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewPagerIndicatorActivity"
            android:label="@string/title_activity_view_pager_indicator" >
        </activity>
        <activity
            android:name=".pagerindicator.SampleCirclesDefaultActivity"
            android:label="@string/title_activity_sample_circles_default" >
        </activity>
        <activity
            android:name=".GlideDemoActivity"
            android:label="@string/title_activity_glide_demo" >
        </activity>
        <activity
            android:name=".RestAPISampleActivity"
            android:label="@string/title_activity_rest_apisample" >
        </activity>
        <activity
            android:name=".PlayVideoActivity"
            android:label="@string/title_activity_play_video" >
        </activity>
    </application>

</manifest>
